.text {
    font-size: 1.3888888888888888vw;
    font-weight: 500;
    line-height: 1.8458333333333334vw;

    font-family: 'Exo', sans-serif;

}

@media screen and (max-width:575px) {
    .text {

font-size: 4vw;
        position: relative;
        right: 18vw;
        line-height: 4vw;     
    }
}