.btn-green{
    background-color: #3bad46;
}
.btn-green:hover{
    background-color: #3bad46;
}
.text-green{
    color: #3bad46;
}
.text-green:hover{
    color: #3bad46;
}
.play-icon {
    width: 1.6666666666666667vw;
    height: 1.6666666666666667vw;
    position: relative;
    right: 8px;
}

@media screen and (max-width:575px) {
    .play-icon {
        width: 6.6666666666666667vw;
        height: 6.6666666666666667vw;
        position: relative;
        right: 8px;
    }
}