.btn-green{
    background-color: #3bad46;
}
.btn-green:hover{
    background-color: #3bad46;
}
.text-green{
    color: #3bad46;
}
.text-green:hover{
    color: #3bad46;
}

.heroSectionHeading{
    color: black;
    animation-name: changeColor;
    animation-duration: 2s;
    animation-timing-function: linear;
    animation-delay: 1s;
}

@keyframes changeColor {
    0%{
        color: black;
    }

    50%{
        color: #0a5f38;
    }
    100%{
        color: black;
    }
}