.counterInAboutUs_heading {
    font-weight: 700;
    font-size: 3.3333333333333335vw;
    line-height: 3.888888888888889vw;
    font-family: 'Roboto', sans-serif;
}

.counterInAboutUs_img {
    width: 4.756944444444445vw;
    height: 0.7986111111111112vw;
}

.counterInAboutUs_para {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 1.6666666666666667vw;
    line-height: 3.3333333333333335vw;
}

@media screen and (max-width:575px) {
    .counterInAboutUs_heading {
        font-size: 8.333333vw;
        line-height: 7.888889vw;
    }
    .counterInAboutUs_img {
        width: 13.756944vw;
        height: 1.798611vw;
    }
    .counterInAboutUs_para {
        font-family: 'Roboto', sans-serif;
        font-weight: 500;
        font-size: 2.666667vw;
        line-height: 3.3333333333333335vw;
        margin-top: 1vw;
    }
}