.seeFullTime {
    width: 166px;
    height: 50px;
    background-color: #3BAD46;
    border-radius: 12px;
    color: white;
    border: none;
    cursor: pointer;
    position: relative;
    top: 5vw;
}

.meetOurTeamHomePageBehind {
    position: absolute;
    width: 100vw;
    height: 62.15277777777778vw;
    background-image: url('../../../public/assets//Images/Mask\ group\ \(2\).png');
    background-size: cover;
    z-index: -2;
    background-color: #F5F5F5;
}

.meetOurTeamHeading {
    font-size: 4.444444444444445vw;
    font-weight: 400;
    font-family: 'Poppins', sans-serif;
    position: relative;
    top: -4vw;
}

@media screen and (max-width:576px) {
    .meetOurTeamHomePage {
        width: 100vw;
        height: 320vw;
    }

    .meetOurTeamHomePageBehind {
        width: 100Vw;
        height: 320vw;
    }

    .meetOurTeamHeading {
        font-size: 8.444444vw;
        font-weight: 500;
        font-family: 'Poppins', sans-serif;
        position: relative;
        top: -4vw;
    }
}

@media screen and (min-width:577px) and (max-width: 990px) {
    .meetOurTeamHomePage {
        width: 100vw;
        height: 120vw;
    }

    .meetOurTeamHomePageBehind {
        width: 100Vw;
        height: 100vw;
    }
}