.bgOfTechniqalHealthCareSection_HomPage{
    width: 100vw;
}

@media screen and (max-width:575px) {
    .bgOfTechniqalHealthCareSection_HomPage {
        width: 218vw;
        height:100vw;
        left: -107vw;
    }
    .techniqalHealthCareSection_HomPage{
        /* height: 350vw; */
        overflow-y: hidden;
    }
}