.ourValues_HomePage {
    margin-bottom: 7vw;
}

.allValues {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    gap: 1.0416666666666667vw;
}

.ourvaluesBackgroundImg {
    position: absolute;
    z-index: -1;
    width: 36.907639vw;
    height: 96.240972vw;
    top: -20vw;
    transform: rotate(1deg);
    left: 14vw;
}

.allValues div img {
    width: 2.361111111111111vw;
    height: 2.361111111111111vw;
}


.ourValuesHeading{
    left: 24vw;
    top: 16vw;
}

@media screen and (max-width:575px) {
    .allValues {
        display: grid;
        grid-template-rows: 1fr 1fr 1fr 1fr;
        grid-template-columns: 1fr;
        gap: 1.0416666666666667vw;
    }

    .allValues div img {
        width: 14.36111vw;
        height: 14.36111vw;
    }

    .allValues div {
        margin-bottom: 3vw;
    }

    .ourvaluesBackgroundImg {
        position: absolute;
        z-index: 1;
        width: 88.907639vw;
        height: 197.240972vw;
        top: -20vw;
        transform: rotate(1deg);
        left: 16vw;
    }

}