.ourValues_HomePage {
    margin-bottom: 7vw;
}

.allValues {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    gap: 1.0416666666666667vw;
}

.ourvaluesBackgroundImg {
    position: absolute;
    z-index: 1;
    width: 36.907639vw;
    height: 96.240972vw;
    top: -20vw;
    transform: rotate(1deg);
    left: 14vw;
}

.allValues div img {
    width: 2.361111111111111vw;
    height: 2.361111111111111vw;
}


.ourValuesHeading {
    left: 25vw;
    /* top: 16vw; */
}

@media screen and (max-width:575px) {
    .allValues {
        display: grid;
        grid-template-rows: 1fr 1fr 1fr 1fr;
        grid-template-columns: 1fr;
        gap: 1.0416666666666667vw;
    }

    .allValues div img {
        width: 14.36111vw;
        height: 14.36111vw;
    }

    .allValues div {
        margin-bottom: 3vw;
    }

    .ourvaluesBackgroundImg {
        position: absolute;
        z-index: 1;
        width: 103.907639vw;
        height: 232.240972vw;
        top: -29vw;
        transform: rotate(1deg);
        left: 12vw;
    }

    .ourValuesHeading {
        left: 47vw;
    }

}

@media screen and (min-width:580px) and (max-width: 766px) {
    .ourValuesHeading {
        left: 48vw;
        font-size: 57px;
    }
    .ourvaluesBackgroundImg {
        position: absolute;
        z-index: 1;
        width: 64.907639vw;
        height: 158.240972vw;
        top: -45vw;
        transform: rotate(1deg);
        left: 38vw;
        /* right: 0vw; */
    }
}

@media screen and (min-width: 768px) and (max-width: 1100px) {
    .ourValuesHeading {
        /* left: 48vw; */
        font-size: 3vw;
    }
}