.productShowCaseHomePage {
    width: 100vw;
    height: 38.81944444444444vw;
    background-color: #cddfaa;
    z-index: -2;
    position: relative;
    padding-top: 3.0555555555555554vw;
    padding-left: 4.513888888888889vw;
    padding-right: 4.513888888888889vw;
}

.btn-explore-productShowCase {
    border: 3px solid #3BAD46;
    border-radius: 8px;
    color: #3BAD46;
    font-size: 1.6666666666666667vw;
    width: 12.5vw;
    height: 4.444444444444445vw;
    background: transparent;
    cursor: pointer;
    font-weight: 700;
}

.heading-productShowCase {
    font-family: 'Poppins', sans-serif;
    font-size: 3.923611111111111vw;
    font-weight: 600;
}