.right-side-image-background{
    position: relative;
    width: 47.31944444444444vw;
    height: 49.791666666666664vw;
}

.left-side-image-background{
    position: relative;
    width:  52.90763888888889vw;
    height: 91.24097222222223vw;
    right: 16px;
}
@media screen and (max-width:575px) {
    .right-side-image-background{
        position: relative;
        width: 122.319444vw;
        height: 129.791667vw;
        left: -61vw;
    }
    .left-side-image-background{
        position: relative;
        width: 94.907639vw;
        height: 174.240972vw;
        right: 3vw;
    }    
}


@media screen and (min-width: 576px) and (max-width:766px) {
    .right-side-image-background{
        position: relative;
        width: 85.319444vw;
        height: 89.791667vw;
        left: -48vw;
    }
    .left-side-image-background{
        position: relative;
        width: 83.907639vw;
        height: 135.240972vw;
        right: 20px;
    }    
}