.logo {
    width: 5.972222222222222vw;
    height: 4.722222222222222vw;
}

.marginTopOfCustomNavBar {
    margin-top: 2.5694444444444446vw;
}

/* Nav that contains all the menu of this website = .nav-menu-container */
.nav-menu-container {
    width: 67.63888888888889vw;
    font-size: 1.25vw;
    font-weight: 500;
}

.nav-menu {
    width: 9.027777777777779vw;
    height: 2.5vw;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border-radius: 6.944444444444445vw;
    color: #040404;
    transition: 1s;
    transition-timing-function: ease;
}

.nav-menu:hover {
    background-color: #9acb56;
    transition: all;
    font-weight: 600;
    color: #3BAD46;
}

@media screen and (max-width:576px) {
    .logo {
        width: 28.972222vw;
        height: 22.722222vw;
    }
    .nav-menu {
        font-size: 5vw;
        margin-bottom: 8vw;
        width: 30vw;
        transition: "1s";
    }   
    .nav-menu:hover {
        background-color: #9acb56;
        font-weight: 600;
        color: #3BAD46;
        height: 10vw;
    }
     
}