.logo {
    width: 5.972222222222222vw;
    height: 4.722222222222222vw;
}

.nav-menu {
    color: #040404;
}

.nav-menu:hover {
    background-color:#3BAD46;
    color: white;
}

/* This class is applicable on current page */
.clicked{
    background-color:#3BAD46;
    color: white;
}

@media screen and (max-width:576px) {
    .logo {
        width: 28.972222vw;
        height: 22.722222vw;
    }
    .nav-menu {
        font-size: 5vw;
        margin-bottom: 8vw;
        width: 30vw;
        transition: "1s";
    }   
    .nav-menu:hover {
        background-color: #9acb56;
        font-weight: 600;
        color: #3BAD46;
        height: 10vw;
    }
     
}