.ProductShowCaseCard_HomePage {
    width: 25.694444444444443vw;
    height: 22.22222222222222vw;   
}


.productCategory_heading{
    margin-bottom: 1.25vw;
    padding-left:1.9444444444444444vw;
    font-size:  1.8055555555555556vw;
    font-weight: 700;
}
