.leftBgImg_ourTeam {
    position: absolute;
    z-index: -1;
    width: 26vw;
    height: 99vw;
    left: -14vw;
    top: -9vw;
}

.rightBgImg_ourTeam {
    position: absolute;
    z-index: -1;
    width: 48vw;
    height: 115vw;
    left: 54vw;
    top: 26vw;
}

@media screen and (max-width: 575px) {
    .rightBgImg_ourTeam {
        position: absolute;
        z-index: -1;
        width: 99vw;
        height: 398vw;
        left: 4vw;
        top: 26vw;
    }

    .leftBgImg_ourTeam {
        position: absolute;
        z-index: -1;
        width: 59vw;
        height: 254vw;
        left: -23vw;
        top: -9vw;
    }
}