.heading-offer-homepage{
    font-family: 'Poppins', sans-serif;
}
.btn-explore{
    border: 1px solid #3BAD46;
    border-radius: 8px;
    color: #3BAD46;
    font-size: 1.6666666666666667vw;
}
.offerings_homepage{
    background-color: #f3f3eb ;
    padding-top: 2.0833333333333335vw;
}