


.leftBand {
    width: 29.375vw;
    height: 8.125vw;
    position: absolute;
    top: 34.5vw;
}

.rightBand {
    width: 42.84722222222222vw;
    height: 9.791666666666666vw;
    position: absolute;
    top: 25.5vw;
    left: 56vw;
}


@media screen and (max-width: 575px) {
  

    .leftBand{
        top: 90.5vw;
        width: 50vw;
        height: 15vw;
        left: -4vw;
    }
    .rightBand{
        top: 77.5vw;
        /* right: -10vw; */
        width: 50vw;
        height: 20vw;
      
        
    }
   

}