.bgImgOfOurVisionSection {
    width: 54.277778vw;
    height: 64.166667vw;
    z-index: -1;
    position: absolute;
    top: -38vw;
    left: -6vw;
}

.tickSign {
    width: 1.5vw;
    height: 1.5vw;
    margin-right: 1.3888888888888888vw;
}

.ourVisionHeading {
    top: 15vw;
    left: 16vw;
}

@media screen and (max-width: 575px) {
    .ourVisionHeading {
        top: 37vw;
        left: 38vw;
    }

    .bgImgOfOurVisionSection {
        width: 97.277778vw;
        height: 128.166667vw;
        z-index: -1;
        position: absolute;
        top: -38vw;
        left: 1vw;
    }

    .tickSign {
        width: 4.2222222222222223vw;
        height: 4.2222222222222223vw;
        margin-right: 3.3888888888888888vw;
    }
}

@media screen and (min-width: 580px) and (max-width: 766px) {
    .ourVisionHeading {
        top: 39vw;
        left: 40vw;
        font-size: 45px;
    }
}

@media screen and (min-width: 767px) and (max-width: 1100px) {
    .ourVisionHeading {
        top: 15vw;
        left: 17vw;
        font-size: 3vw;
    }
}