.aboutUs_AboutUsPage {
    background-color: #54A7C40A;
    padding-top: 5.625vw;
    color: black;
    width: 90.48611111111111vw;
    padding-left: 4.444444444444445vw;
    z-index: 100;
    position: relative;
    border-radius: 20px;
    padding-bottom: 3.4027777777777777vw;
    margin-bottom: 1.3888888888888888vw;
}

.aboutUs_AboutUsPage h1 {
    font-weight: 700;
    font-size: 3.4722222222222223vw;
    font-family: 'Poppins', sans-serif;
}

.aboutUs_AboutUsPage article {
    font-size: 1.9444444444444444vw;
    font-weight: 400;
    line-height: 3.9930555555555554vw;
    font-family: 'Poppins', sans-serif;
}

.aboutUs_AboutUsPage ul li {
    list-style: none;
}

.aboutUs_AboutUsPage ul li p{
    font-size: 1.7361111111111112vw;
    font-weight: 400;
    line-height:  2.0833333333333335vw;
    font-family: 'Poppins', sans-serif;
    width: 69.23611111111111vw;
    margin-left: 20px;
}
.bgRightSideImgAboutPage{
    position: absolute;
    top: -364px;
    right: 0px;
    width: 61.23888888888889vw;
    height: 91.24097222222223vw;
    left: 40vw;
}

@media screen and (max-width:575px) {
    .aboutUs_AboutUsPage h1 {
        font-weight: 700;
        font-size: 8.4722222222222223vw;
        font-family: 'Poppins', sans-serif;
    }
    .aboutUs_AboutUsPage article {
        font-size: 4vw;
        font-weight: 400;
        line-height: 4.993056vw;
        font-family: 'Poppins', sans-serif;
    }
    .aboutUs_AboutUsPage ul li p {
        font-size: 4vw;
        font-weight: 400;
        line-height: 5.083333vw;
        font-family: 'Poppins', sans-serif;
        width: 69.23611111111111vw;
        margin-left: 20px;
    }
    .aboutUs_AboutUsPage {
        height: 187vw;
    }
}