.aboutUs {
    position: absolute;
    top: 14vw;
    left: 12vw;
}

@media screen and (max-width:575px) {
    .aboutUs {
        position: absolute;
        top: 32vw;
        left: 26vw;
    }
}

@media screen and (min-width:1450px) and (max-width:2000px) {
    .aboutUs {
        position: absolute;
        top: 12vw;
        left: 10vw;
    }
}