
.phoneImg {
    width: 49.02777777777778vw;
    height: 48.47222222222222vw;
    position: relative;
    top: -12vw;
    left: -18vw;
}

.indicatorOfApp {
    width: 6.417361vw;
    height: 8.179861vw;
    position: relative;
    top: -2.5vw;
    left: 5vw;
    transform: rotate(-18deg);
}

@media screen and (max-width:575px) {
    .phoneImg {
        width: 52.027778vw;
        height: 50.472222vw;
        position: relative;
        top: -31vw;
        left: 52vw;
    }

    .indicatorOfApp {
        top: 11.5vw;
        left: -3vw;
    }

}