.contactInformation_ContactUsPage {
    border-radius: 30px;
    background-color: white;
    margin-top: 100px;
    width: 71.94444444444444vw;
    margin-bottom: 16vw;
    box-shadow: 50px 70px 100px rgba(197, 194, 194, 0.5);
}

.contactInformationContainer {
    background: #545E3B;
    width: 100%;
    border-radius: 20px 0px 0px 20px;
}


@media screen and (max-width: 765px) {
    .googleMapWidgets {
        height: 110vw;
    }

    .contactInformation_ContactUsPage{
        width: 87.94vw;
    }
    .contactInformationContainer{
        border-radius: 10px 10px 0px 0px;
    }

}